openapi: 3.0.0

info:
  title: Contact Manager API
  version: 1.0.0

servers:
  - url: https://purifiedmint.xyz

paths:
  /api/auth/register.php:
    post:
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
                - password_confirmation
              properties:
                username:
                  type: string
                  example: "KevinG"
                password:
                  type: string
                  format: password
                  example: "Password123"
                password_confirmation:
                  type: string
                  format: password
                  example: "Password123"
      responses:
        "200":
          description: User created successfully
        "400":
          description: Registration error
        "405":
          description: Method not allowed
        "409":
          description: Username taken
        "500":
          description: Database error

  /api/auth/login.php:
    post:
      summary: Login user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: "TestUser42"
                password:
                  type: string
                  format: password
                  example: "Password123"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  username:
                    type: string
                  error:
                    type: string
        "400":
          description: Username and password are required
        "401":
          description: Invalid username or password
        "405":
          description: Method not allowed

  /api/auth/logout.php:
    post:
      summary: Logout user
      security:
        - sessionAuth: []
      responses:
        "200":
          description: Logout successful
        "405":
          description: Method not allowed

  /api/auth/session.php:
    get:
      summary: Check current user session
      security:
        - sessionAuth: []
      responses:
        "200":
          description: User is logged in
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  username:
                    type: string
                  error:
                    type: string
        "401":
          description: User is not logged in

  /api/contacts/get.php:
    get:
      summary: Get all contacts for logged-in user
      security:
        - sessionAuth: []
      responses:
        "200":
          description: Contacts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  error:
                    type: string
        "401":
          description: Not logged in
        "405":
          description: Method not allowed
        "500":
          description: Database error

  /api/contacts/create.php:
    post:
      summary: Create a contact
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - FirstName
                - LastName
              properties:
                FirstName:
                  type: string
                  example: "Maria"
                LastName:
                  type: string
                  example: "Lopez"
                Email:
                  type: string
                  example: "maria@example.com"
                Phone:
                  type: string
                  example: "4075551234"
              description: Email or Phone must be provided.
      responses:
        "200":
          description: Contact created successfully
        "400":
          description: Invalid contact data
        "401":
          description: Not logged in
        "405":
          description: Method not allowed
        "409":
          description: Email or phone already exists
        "500":
          description: Database error

  /api/contacts/update.php:
    post:
      summary: Update a contact
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ContactID
                - FirstName
                - LastName
              properties:
                ContactID:
                  type: integer
                  example: 12
                FirstName:
                  type: string
                  example: "Maria"
                LastName:
                  type: string
                  example: "Lopez"
                Email:
                  type: string
                  example: "maria@example.com"
                Phone:
                  type: string
                  example: "4075551234"
              description: Email or Phone must be provided.
      responses:
        "200":
          description: Contact updated successfully
        "400":
          description: Invalid contact data
        "401":
          description: Not logged in
        "404":
          description: Contact not found
        "405":
          description: Method not allowed
        "409":
          description: Email or phone already exists
        "500":
          description: Database error

  /api/contacts/delete.php:
    post:
      summary: Delete a contact
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ContactID
              properties:
                ContactID:
                  type: integer
                  example: 12
      responses:
        "200":
          description: Contact deleted successfully
        "400":
          description: ContactID is required
        "401":
          description: Not logged in
        "404":
          description: Contact not found
        "405":
          description: Method not allowed
        "500":
          description: Database error

  /api/contacts/search.php:
    get:
      summary: Search contacts by first and last name
      security:
        - sessionAuth: []
      parameters:
        - in: query
          name: search
          required: false
          schema:
            type: string
          example: "Maria L"
      responses:
        "200":
          description: Matching contacts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  error:
                    type: string
        "401":
          description: Not logged in
        "404":
          description: No records found
        "405":
          description: Method not allowed
        "500":
          description: Database error

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: PHPSESSID

  schemas:
    Contact:
      type: object
      properties:
        ContactID:
          type: integer
        UserID:
          type: integer
        FirstName:
          type: string
        LastName:
          type: string
        Email:
          type: string
          nullable: true
        Phone:
          type: string
          nullable: true
        DateCreated:
          type: string
